.login-body{
    background-color: #edf1f3;
}
.login-box{
    width:534px;
}
.box{
    width:910px;
}
.postcode-btn {
    padding: 0 !important;
    border: 0 !important;
    text-align: center !important;
    width: 80px !important;
    height: 50px;
    margin: 0 13px 0 0;
    line-height: 50px !important;
    float: right;
}

.form-box{
    background-color: white;
    padding: 30px;
    margin: 0 0 30px;
}
.form-content{
    margin-left: 2rem;   
}
.form-text{
    font-size: 18px;
    line-height: 1.4em;
    margin: 0 0 30px;
    padding: 0;
}
.form-link{
    font: normal normal normal 16px/24px Noto Sans JP;
    background:#FFFFFF;
    color: #153581;
    letter-spacing: 0px;
    border-radius: 27px;
    padding: 0.4rem 2rem;
}
.form-link:hover {
    background:#03adec;
    color: #FFFFFF;
}
.form-field{
    float: left;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
}
.form-lable{
    display: block;
    line-height: 1.4em;
    color: #03adec;
    margin: 8px 0 10px;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
}
/* .form-checkbox{

} */
/* harsh dalsaniya */

.resetpassword-field{
    margin-left: 4px;
}

.featherlight * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.featherlight:last-of-type {
    background: rgba(0,0,0,.8);
}

.featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: rgba(0,0,0,0);
}

.featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
}

.featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial,sans-serif;
    background: #fff;
    background: rgba(255,255,255,.3);
    color: #000;
    border: 0;
    padding: 0;
}

.bt_table_th{
    padding: 22px 25px !important;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.bt_table_td{
    padding: 20px 25px !important;
    white-space: normal;
    border-bottom: 1px solid #d9dee8;
    line-height: 1.4em;
    vertical-align: middle;
}